In [1]:
import pandas as pd
import numpy as np
intakes = pd.read_csv('aac_intakes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')

# Is there an area where more pets are found?
Used the mode function here to find the most common value in the found_location series

In [49]:
most_common_area = intakes['found_location'].mode()
most_common_areas = intakes.loc[intakes['found_location'].value_counts().head(5)]
print(f'\nAnimals are most commonly found in the city of {most_common_area[0]}.\n')
print(f'''****************
The top 5 locations we find pets at in Austin are:
****************
''')
for item in most_common_areas['found_location']:
    print(item)

Animals are most commonly found in the city of Austin (TX).

****************
The top 5 locations we find pets at in Austin are:
****************

2501 Wickersham Ln in Austin (TX)
1154 Nickols Ave. in Austin (TX)
4631 Airport Blvd in Austin (TX)
2300 Devonshire Dr in Austin (TX)
Austin (TX)

# What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

In [51]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])
intakes['datetime2'] = pd.to_datetime(intakes['datetime2'])
sum_total_intakes_2015 = (intakes['datetime'].dt.year == 2015).sum()
## avg nymber of intakes per month
avg_per_month = (sum_total_intakes_2015/12)


total_intakes_2015 = intakes.loc[intakes['datetime'].dt.year == 2015]
months = total_intakes_2015['datetime'].dt.month.value_counts().sort_values(ascending=False)

print(f'''\n*****************
The average number of pets found per month in 2015 was {avg_per_month.round(0)}, with May, June, & October
being the busiest months\n*****************''')

*****************
The average number of pets found per month in 2015 was 1559.0, with May, June, & October
being the busiest months
*****************

# What is the ratio of incoming pets vs. adopted pets?

In [54]:
adopted_count = (outcomes['outcome_type'] == 'Adoption').sum()
intakes_count = len(intakes)
ratio = (adopted_count/intakes_count).round(4) 
ratio = ratio * 100
print(f'********\n{ratio}% of incoming pets result in adoption.\n********')

********
42.69% of incoming pets result in adoption.
********

# What is the distribution of the types of animals in the shelter?

In [15]:
total_animals = len(intakes)
# What you're looking for
keys = intakes['animal_type'].value_counts().keys().tolist()
values = intakes['animal_type'].value_counts()
animal_ratio = (values.divide(total_animals) * 100).round(2)
print(f''''
***************************
Animal Distribution by type
***************************
Type - Quantity - Percent
''')
for i,row in enumerate(keys):
    print('--------------------')
    print(f'{row} - {values[i]} - {animal_ratio[i]}%')

'
***************************
Animal Distribution by type
***************************
Type - Quantity - Percent

--------------------
Dog - 45743 - 57.05%
--------------------
Cat - 29659 - 36.99%
--------------------
Other - 4434 - 5.53%
--------------------
Bird - 342 - 0.43%
--------------------
Livestock - 9 - 0.01%

# What are the adoption rates for specific breeds?

In [86]:
adoptions = outcomes.loc[outcomes['outcome_type'] == 'Adoption']
breeds_adopted = adoptions['breed'].value_counts().head(5).keys()
qty_adoptions_per_breed = adoptions['breed'].value_counts().head(5)
adoption_ratio_by_breed = (qty_adoptions_per_breed/len(adoptions) * 100).round(2)

print(f''''
***************************
Adoption rates by breed
***************************
Breed - Quantity - Percentage
''')
for i,row in enumerate(breeds_adopted):
    print('--------------------')
    print(f'{row} - {qty_adoptions_per_breed[i]} - {adoption_ratio_by_breed[i]}%')

'
***************************
Adoption rates by breed
***************************
Breed - Quantity - Percentage

--------------------
Domestic Shorthair Mix - 10129 - 29.59%
--------------------
Labrador Retriever Mix - 2404 - 7.02%
--------------------
Pit Bull Mix - 2382 - 6.96%
--------------------
Chihuahua Shorthair Mix - 2293 - 6.7%
--------------------
Domestic Medium Hair Mix - 1067 - 3.12%

# What are the  adoption rates for different colorings?

In [92]:
adoptions_by_coloring = adoptions['color'].value_counts().head(5).keys()
qty_adoptions_per_color = adoptions['color'].value_counts().head(5)
adoption_ratio_by_color = (qty_adoptions_per_color/len(adoptions) * 100).round(2)

print(f''''
***************************
Adoption rates by breed
***************************
Breed - Quantity - Percentage
''')
for i,row in enumerate(adoptions_by_coloring):
    print('--------------------')
    print(f'{row} - {qty_adoptions_per_color[i]} - {adoption_ratio_by_color[i]}%')

'
***************************
Adoption rates by breed
***************************
Breed - Quantity - Percentage

--------------------
Black/White - 3814 - 11.14%
--------------------
Black - 2757 - 8.05%
--------------------
Brown Tabby - 1914 - 5.59%
--------------------
Tan/White - 1179 - 3.44%
--------------------
Brown/White - 1135 - 3.32%

# About how many animals are spayed/neutered each month?

In [146]:
intact_intakes = len(intakes.loc[(intakes['sex_upon_intake'] == 'Intact Female') | (intakes['sex_upon_intake'] == 'Intact Male')])
years = len(intakes['datetime'].dt.year.unique())
avg_yearly_procedures = np.round(intact_intakes/years)
avg_monthly_procedures = np.round(avg_yearly_procedures/12)
print(f'''
************************
Over the last {years} years, the Austin Animal Hospital spayed or neutered {avg_monthly_procedures} animals per month
*************************
''')

************************
Over the last 6 years, the Austin Animal Hospital spayed or neutered 685.0 animals per month
*************************

# How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

In [251]:
unique_animals = len(intakes['animal_id'].unique())
total_intakes = len(intakes)
repeat_animals = total_intakes - unique_animals

most_common_animal_id = intakes['animal_id'].value_counts().head(1).keys().tolist()
most_common_animal = intakes.loc[intakes['animal_id'] == most_common_animal_id[0]].head(1)


print(f'''
************************
There are {repeat_animals} animals that are repeat visitors. The shelters frequent flyer is:\n
{most_common_animal['name'].to_string(index=False)}
{most_common_animal['breed'].to_string(index=False)}
{most_common_animal['color'].to_string(index=False)}
*************************
''')

most_common_animal

************************
There are 7822 animals that are repeat visitors. The shelters frequent flyer is:

Lil Bit
6393    Rat Terrier Mix
6393    Tricolor/Brown Brindle
*************************

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
6393,2 years,A721033,Dog,Rat Terrier Mix,Tricolor/Brown Brindle,2018-03-07 08:27:00,2018-03-07 08:27:00,4111 South 1St in Austin (TX),Normal,Public Assist,Lil Bit,Neutered Male

 # What are the adoption rates for the following age groups?
     baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

# If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend in 2015 on these procedures?