In [1]:
import pandas as pd
import numpy as np
intakes = pd.read_csv('aac_intakes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')

# Is there an area where more pets are found?
Used the mode function here to find the most common value in the found_location series

In [192]:
most_common_area = intakes['found_location'].mode()
most_common_areas_keys = intakes['found_location'].value_counts().head(5).keys().tolist()
most_common_areas = intakes['found_location'].value_counts().head(5).tolist()

*******************************************************
> ### Most animals are found within the shelters city limits of Austin, a more specific location where the most animals are found is at 7201 Levander Loop. 
> The top 5 locations that animals are found:
>1. Austin, TX
>2. Outside Jurisdiction
>3. Travis, TX
>4. 7201 Levander Loop in Austin
>5. Del Valle, TX
*******

Idetermined where pets are found most by using the mode method on the 'found location' column.
I used the value_counts method along with the head method to get the top 5 most common values in the 'found location' column

# What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

In [165]:
intakes['datetime'] = pd.to_datetime(intakes['datetime'])
intakes['datetime2'] = pd.to_datetime(intakes['datetime2'])
sum_total_intakes_2015 = (intakes['datetime'].dt.year == 2015).sum()
## avg nymber of intakes per month
avg_per_month = (sum_total_intakes_2015/12)


total_intakes_2015 = intakes.loc[intakes['datetime'].dt.year == 2015]
months = total_intakes_2015['datetime'].dt.month.value_counts().sort_values(ascending=False)

*****
> ### The average number of pets found per month in 2015 was 1559.0, with May, June, & October being the busiest months
******

Cleaned datetime columns. Queried intakes by year 2015 and used sum method to get the total. To get the average number per month I divided the annual intake by 12. Utilized value_counts method to count the number of intakes per month and see which where the highest.

# What is the ratio of incoming pets vs. adopted pets?

In [166]:
adopted_count = (outcomes['outcome_type'] == 'Adoption').sum()
intakes_count = len(intakes)
ratio = (adopted_count/intakes_count).round(4) 
ratio = ratio * 100

********
> ### 42.69% of incoming pets result in adoption.
********
Queryd the option table to see how many outcomes resulted in adoption.
Got the length of the intake table.
Divided total adoptions by total intakes and multiplied by 100 to get the percentage of intakes that result in adoptions

# What is the distribution of the types of animals in the shelter?

In [167]:
total_animals = len(intakes)
# What you're looking for
keys = intakes['animal_type'].value_counts().keys().tolist()
values = intakes['animal_type'].value_counts()
animal_ratio = (values.divide(total_animals) * 100).round(2)
# print(f''''
# ***************************
# Animal Distribution by type
# ***************************
# Type - Quantity - Percent
# ''')
# for i,row in enumerate(keys):
#     print('--------------------')
#     print(f'{row} - {values[i]} - {animal_ratio[i]}%')

***************************
> ### Animal Distribution by type
> 1. Dog - 45,743 - 57.05%
> 2. Cat - 29,659 - 36.99%
> 3. Other - 4434 - 5.53%
> 4. Bird - 342 - 0.43%
> 5. Livestock - 9 - 0.01%
***************************

I utilized the value_counts method here to group the intakes table by animal type and count the number of occurences
used the pandas divide function to broadcast the division by total animals across the entire series
looped over rows to find correlating qty and ratio data

# What are the adoption rates for specific breeds?

In [169]:
adoptions = outcomes.loc[outcomes['outcome_type'] == 'Adoption']
breeds_adopted = adoptions['breed'].value_counts().head(5).keys()
qty_adoptions_per_breed = adoptions['breed'].value_counts().head(5)
adoption_ratio_by_breed = (qty_adoptions_per_breed/len(adoptions) * 100).round(2)
# print(f''''
# ***************************
# Adoption rates by breed
# ***************************
# Breed - Quantity - Percentage
# ''')
# for i,row in enumerate(breeds_adopted):
#     print('--------------------')
#     print(f'{row} - {qty_adoptions_per_breed[i]} - {adoption_ratio_by_breed[i]}%')

***************************
> ### Adoption rates by breed
> 1. Domestic Shorthair Mix - 10,129 - 29.59%
> 2. Labrador Retriever Mix - 2,404 - 7.02%
> 3. Pit Bull Mix - 2,382 - 6.96%
> 4. Cihuahua Shorthair Mix - 2,293 - 6.7%
> 5. Domestic Medium Hair Mix - 1,067 - 3.12%
***************************
Used the value counts and head methods again to find the top 5 breeds with the the outcome of adoption

# What are the  adoption rates for different colorings?

In [178]:
adoptions_by_coloring = adoptions['color'].value_counts().head(5).keys()
qty_adoptions_per_color = adoptions['color'].value_counts().head(5)
adoption_ratio_by_color = (qty_adoptions_per_color/len(adoptions) * 100).round(2)
# print(f''''
# ***************************
# Adoption rates by breed
# ***************************
# Color - Quantity - Percentage
# ''')
# for i,row in enumerate(adoptions_by_coloring):
#     print('--------------------')
#     print(f'{row} - {qty_adoptions_per_color[i]} - {adoption_ratio_by_color[i]}%')

***************************
> ### Adoption rates by breed
Color - Quantity - Percentage
> 1. Black/White - 3814 - 11.14%
> 2. Black - 2757 - 8.05%
> 3. Brown Tabby - 1914 - 5.59%
> 4. Tan/White - 1179 - 3.44%
> 5. Brown/White - 1135 - 3.32%
***************************
Utilized the value_counts method  to find the 5 most adoptions by color, and divided by total adoptions to get the ratio of adoptions by color

# About how many animals are spayed/neutered each month?

In [180]:
intact_intakes = len(intakes.loc[(intakes['sex_upon_intake'] == 'Intact Female') | (intakes['sex_upon_intake'] == 'Intact Male')])
years = len(intakes['datetime'].dt.year.unique())
avg_yearly_procedures = np.round(intact_intakes/years)
avg_monthly_procedures = np.round(avg_yearly_procedures/12)

************************
> ### Over the last 6 years, the Austin Animal Hospital spayed or neutered 685.0 animals per month on average.
*************************
Analyzed total intakes with intact males or females
Got the amount of unique years in the data yet
divided total intakes by years
divided total procedures per year by 12
results avg monthly procedures of 685

# How many animals in the shelter are repeats? Which animal was returned to the shelter the most?

In [181]:
unique_animals = len(intakes['animal_id'].unique())
total_intakes = len(intakes)
repeat_animals = total_intakes - unique_animals

most_common_animal_id = intakes['animal_id'].value_counts().head(1).keys().tolist()
most_common_animal = intakes.loc[intakes['animal_id'] == most_common_animal_id[0]].head(1)


# print(f'''
# ************************
# There are {repeat_animals} animals that are repeat visitors.\n\nThe shelters frequent flyer is:\n
# Pets name: {most_common_animal['name'].to_string(index=False)}
# Breed: {most_common_animal['breed'].to_string(index=False)}
# Color: {most_common_animal['color'].to_string(index=False)}
# *************************
# ''')

************************
> ### There are 7822 animals that are repeat visitors.

>The shelters frequent flyer is:
> - Pets name: Lil Bit
> - Breed: Rat Terrier Mix
> - Color: Tricolor/Brown Brindle
*************************

To find the number of repeat visitors I first found the number of unique animal IDs. Then I subtracted the total unique animal ids by the total intakes to determine how many animals were repeats. To find the most common animal I used value_counts on the animal ID column to find which animal had the most intakes

 # What are the adoption rates for the following age groups?
     baby: 4 months and less
    young: 5 months - 2 years
    adult: 3 years - 10 years
    senior: 11+

In [189]:
age_keys = adoptions['age_upon_outcome'].value_counts().keys().tolist()
age_at_adoption = adoptions['age_upon_outcome'].value_counts().to_list()
age_in_months = []
baby = 0
young = 0
adult = 0
senior = 0
unknown = 0

for item in age_keys:
    split_str = item.split(' ')
    months = int(split_str[0])
    if 'year' in split_str[1]:
        age_in_months.append(months * 12)
    else:
        age_in_months.append(months)

for i,row in enumerate(age_in_months):
    if row == 0:
        unknown += age_at_adoption[i]
    elif row <= 4:
        baby += age_at_adoption[i]
        # went to 35 months here to include animals up to the age of 2 years 11 months
    elif row >=5 and row <= 35:
        young +=  age_at_adoption[i]
        # went to 131 months here to include animals up to the age of 10 years 11 months
    elif row >= 36 and row <= 131:
        adult += age_at_adoption[i]
    elif row >= 132:
        senior += age_at_adoption[i]
baby,young,adult,senior,unknown
baby_ratio = np.round(baby/len(adoptions)*100)
young_ratio = np.round(young/len(adoptions)*100)
adult_ratio = np.round(adult/len(adoptions)*100)
senior_ratio = np.round(senior/len(adoptions)*100)
unknown_ratio = np.round(unknown/len(adoptions)*100)
# print(f'''
# ***********
# Adoption by age group
# ***********************
# Age -- Qty -- Ratio


# 0 - 4 months: {baby} - {baby_ratio}%
# 5 months - 2 years: {young} - {young_ratio}%
# 3 years - 10 years: {adult} - {adult_ratio}%
# 11 years+ : {senior} - {senior_ratio}%
# ''')

***********
> ### Adoption by age group

> Age    -     Qty    -    Ratio

> - [0 - 4 months]: -- 12,811 -- 37.0%
> - [5 months - 2 years]: --  14780  --  43.0%
> - [3 years - 10 years]: -- 6176 --18.0%
> - [11 years+]: -- 461 -- 1.0%
***********************
- used value_counts to get the unique age value and quantity.
- converted years to months.
- compared each rows number of months to supplied ages.
- added row value to existing variable if it was a match .
- calculated percentages based on number of adoptions for that age divided by total adoptions.

# If spay/neuter for a dog costs 100 and a spay/neuter for a cat costs 50, how much did the shelter spend in 2015 on these procedures?

In [190]:
total_procedures_2015 = total_intakes_2015.loc[(total_intakes_2015['sex_upon_intake'] == 'Intact Male') | (total_intakes_2015['sex_upon_intake'] == 'Intact Female')  ]
dogs = total_procedures_2015.loc[total_procedures_2015['animal_type'] == 'Dog']
cats = total_procedures_2015.loc[total_procedures_2015['animal_type'] == 'Cat']
dogs_cost = len(dogs) * 100
cats_cost = len(cats) * 50
total_procedures_cost_2015 = dogs_cost + cats_cost
total_procedures_cost_2015

863250


************************
> ### The Austin Animal Hospital spent $863,250 on spay/neuter procedures in 2015.
*************************
 - Queried 2015 intakes to determine how many were not already spayed/neutered.
 - filtered by dogs, cats
 - multiplied values by associated cost for procedure
 - added cost for cats and dogs to determine total cost for the animal hospital in 2015